@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-green-primary: #36853a;
  --color-blue-background: #1a232d;

  --color-gray-white: #dadada;
  --color-gray-white2: #a5a5a5;
  --color-gray-white3: #d8d8d8;

  /* gradient 
     #36853a;
     #3c9541;
     #757575;

   */

  --color-blue-gray: #151c24;

  --color-white: #ffffff;

  --color-mint-500: oklch(0.72 0.11 178);

  --color-blue: #6f9de2;
  --color-purple: #9871f3;
  --color-danger: #f05d6c;

  --color-gray-100: #dae4f2;
  --color-gray-200: #c8d0da;
  --color-gray-300: #95a1b1;
  --color-gray-400: #6f7d90;
  --color-gray-500: #2a313c;
  --color-gray-600: #21252c;
  --color-gray-700: #191d24;
  --color-gray-800: #13161b;
  --color-gray-900: #0f1216;

  --font-heading: var(--font-oxanium);
  --font-sans: var(--font-montserrat);
}
